<!DOCTYPE html>
<html>
<head>
  <title>Arduino Client</title>
  <script type="text/javascript" src="main.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      var socket = io()
      var el = document.getElementById("counter")

      socket.on('increment', function(data) {
        el.innerHTML = data.count
      })
    })
  </script>
</head>
<body>
  Arduino has pinged the server <span id="counter"><%= count %></span>
  <div id="app"></div>
</body>
</html>